<div class="d-flex">
  <div class="container">
    <ul class="list-group">
      <% @restaurants.each do |restaurant| %>
        <li class="list-group-item shadow p-3 mb-2 bg-body rounded">
          <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<%= link_to 'Create a new Restaurant', new_restaurant_path %>
